{% extends 'base.html' %}
{% block base %}


<div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Reset Password</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                    <li><a href="#">Pages</a> <i class="fa fa-angle-right"></i></li>
                                    <li>Reset Password</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="login_section">
		<!-- login_form_wrapper -->
		<div class="login_form_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<!-- login_wrapper -->
						<div class="text-center">
                                {% include '_message.html' %}

                            </div>
						<h1>CHANGE YOUR PASSWORD</h1>
						<div class="login_wrapper">
							<form method="POST">
								{% csrf_token %}
								
      
							
							<div class="formsix-e">
								<div class="form-group i-password">
									<!-- <input type="password" class="form-control" name="password" required="" id="password2" placeholder="New password*"> -->
									{{form.email}}
								</div>
							</div>
							<div class="login_btn_wrapper">
								<button type="submit" class="btn btn-primary btn-lg btn-block login_btn" style="background: #23c0e9;border: 1px solid #23c0e9;">Send Email</button>
							</div>
						</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.login_form_wrapper-->
	</div>
{% endblock %}