<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sending emails to user in Python</title>
  </head>
  <body>
    <div>
      <img src="https://seeklogo.com/images/I/international-marketing-group-logo-C3EA972D09-seeklogo.com.png">
    </div>
    Hello {{user}},

    <h3 style="color: green;">Welcome to the Jobkaro</h3>
    <p>Thanks for subscribe </p>

    <p>Thanks,<br />Jabkaro</p>
  </body>
</html>